.contact {
  padding: 110px 0px 118px;
  // Fixed background
  background: url('../img/contact-bkg@2x.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  h2 {
    font: 24px/26px $maven;
    letter-spacing: ls(25, 24px);
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 28px;
  }

  .images {
    padding-top: 30px;
  }

}

.contact-form {
  background: $color-2-transparent;

  .form-group {
    margin-bottom: 10px;
  }

  .form-control {
    width: 100%;
    padding: 0px 0px;
    font: 12px/14px $maven;
    letter-spacing: ls(50, 12px);
    color: $color-white;
    background: transparent;
    border: none;
    border-bottom: 1px solid $color-white;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    resize: none;
  }

  .form-control::-webkit-input-placeholder { color: $color-white; }
  .form-control::-moz-placeholder { color: $color-white; }
  .form-control:-ms-input-placeholder { color: $color-white; }
  .form-control:-moz-placeholder { color: $color-white; }
  .form-control::placeholder { color: $color-white; }

  input[type="text"],
  input[type="email"] {
    height: 25px;
  }

  textarea {
    height: 60px;
  }

  label {
    font: 12px/14px $maven;
    letter-spacing: ls(50, 12px);
    color: $color-white;
    cursor: pointer;
  }

  .btn {
    width: auto;
    min-width: 0px;
    height: 31px;
    margin-top: 65px;
    padding: 0px 10px;
    font: 10px/25px $maven;
    font-weight: 700;
    letter-spacing: ls(50, 10px);
    color: $color-white;
    border: 3px solid $color-white;
    border-radius: 0;
    background: transparent;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 50px 30px;
    background-size: cover;
    background-attachment: scroll;

    .contact-form {
      padding: 0px 30px;
    }

    h2 {
      margin: 20px auto;
    }

    .btn {
      margin-top: 40px;
    }
  }
}
