.events {
  background: $color-5;
  padding-bottom: 30px;
  overflow: hidden;

  h2 {
    font: 50px/50px $cormorant;
    font-weight: 500;
    font-style: italic;
    letter-spacing: ls(5, 50px);
    color: $color-1;
    position: relative;
    text-align: center;
    margin-top: 84px;
    margin-bottom: 34px;


    span {
      z-index: 1;
      position: relative;
     }

    &:before {
      content: '';
      width: 292px;
      height: 277px;
      display: block;
      position: absolute;
      top: -60px;
      left: 50%;
      @include transform(translate(-50%, 0));
      background: url('../img/events-title-bkg@2x.gif') center no-repeat;
      background-size: contain;
      z-index: 0;
    }
  }

  .intro {
    font: 18px/22px $maven;
    letter-spacing: ls(25, 18px);
    color: $color-6;
    text-align: center;
    z-index: 1;
    position: relative;
    margin-bottom: 25px;
  }

  .btn {
    margin-bottom: 30px;
  }
}

.events-pictures {
  width: 100%;
  display: table;
  padding: 7.5px 7.5px;

  .item {
    // width: 33.333%;
    // float: left;
    padding: 7.5px 7.5px;
    margin: 0px;
    list-style: none;

    .pic {
      width: 50%;
      height: 0px;
      padding-top: 50%;
      margin: 0px;
      float: left;
      position: relative;
      overflow: hidden;

      img {
        min-width: calc(100% + 2px);
        min-height: calc(100% + 2px);
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%) scale(1.2));
        @include transition(all .5s);
        opacity: 1;
        z-index: 1;

        &.active {
          opacity: 1;
          z-index: 1;
        }

        &:hover {
          @include transform(translate(-50%, -50%) scale(1));
        }
      }

      &.pic-title {
        font-size: 30px;
        text-align: left;

        &.small { font-size: 21px; }
        &.right { text-align: right; }

        img {
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          @include transform(none);

          &:hover {
            @include transform(none);
          }
        }

        .pic-title-content {
          width: 100%;
          padding: 0px 15px;
          font-size: inherit;
          font-family: $cormorant;
          text-align: inherit;
          color: $color-1;
          text-transform: uppercase;
          // overflow: hidden;
          // text-overflow: ellipsis;
          position: absolute;
          top: 50%;
          left: 0;
          @include transform(translateY(-50%));
        }

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .events {

    .intro {
      padding: 0px 15px;
    }

    .btn {
      width: 200px;

      display: block;
      float: none !important;
      margin: 0 auto 10px;
    }
  }

  .events-pictures {
    width: auto;
    display: block;
    margin: 0 -7.5px;
    padding: 0px 0px;

  }
}
