body {
  overflow-x: hidden;
  background: #ebedec;
  font-family: $cormorant;
}

.page {
  position: relative;
  background: #ebedec;
  right: 0px;
  z-index: 2;
  transition: all .4s;

  .main-side-nav-opened & {
    right: $sidenav-width-desktop;
  }
}

.btn {
  min-width: 180px;
  font: 18px/42px $maven;
  letter-spacing: ls(50, 18px);
  color: $color-white;
  border: none;
  border-radius: 20px;
  padding: 0px 12px;

  &.btn-default {
    &,
    &:active,
    &:focus,
    &:hover {
      color: $color-white;
      background: $color-2;
    }

  }

  &.btn-primary {
    &,
    &:active,
    &:focus,
    &:hover {
      color: $color-white;
      background: $color-1;
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 1170px;
    max-width: 100%;
  }
}

.row.no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

%close-btn-x {
  font-size: 24px;
  color: $color-1;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row {
  &.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    & > [class*='col-'] {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}

.header {
  width: 100%;
  padding: 16px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow: hidden;

  .hamburguer-button {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    @include gradient($color-1, #e2b67a);
    @include transition(all .3s);

    .close-btn {
      @extend %close-btn-x;
      @include transition(all .3s);
      @include transform(translate(-50%, -50%) scale(0));
    }

    .hamburguer-group {
      @extend %absolute-center;
      width: 18px;
      height: 14px;
      @include transition(opacity .2s);
      will-change: transform;
      animation: rotate 4s infinite;
    }

    .hamburguer-item {
      width: 18px;
      height: 3px;
      background: $color-white;
      border-radius: 10px;
      display: block;
      position: absolute;
      left: 0px;
      will-change: top, transform;


      &:nth-child(1) {
        top: 0px;
        // animation: appear-from-top 4s 1.3s infinite ;
      }

      &:nth-child(2) {
        top: 6px;
        // animation: appear-from-top 4s 1.6s infinite ;
      }

      &:nth-child(3) {
        top: 12px;
        // animation: appear-from-top 4s 1.9s infinite ;
      }
    }

    .main-side-nav-opened & {
      background: transparent;
      border: 1px solid $color-1;

      .hamburguer-group {
        opacity: 0;
      }

      .close-btn {
        @include transform(translate(-50%, -50%) scale(1));
      }
    }

  }
}

.footer {

  text-align: center;
  color: $color-white;
  background-color: #000;


  &.home-footer {
    padding: 58px 0px 4px;
    background-image: url('../img/footer-bkg@2x.jpg');
    background-color: #303030;
    background-position: center;

    .disclaimer {
      background: none;
    }

    .call-us {
      padding-top: 0px;

      p {
        text-transform: uppercase;
        margin-bottom: 16px;

        &.tel {
          font: 47.5px/36px $cormorant;
          font-weight: 600;
          letter-spacing: ls(5, 47.5px);
          margin-bottom: 46px;
        }
      }
    }

    .social-media {
      p {
        font: 15px/18px $maven;
        margin-bottom: 8px;
      }

      .social-media-btn {
        $size: 44px;
        width: $size;
        height: $size;
        font-size: 20px;
        display: block;
      }
    }

    .disclaimer {
      padding: 0px;
    }
  }

  .footer-first-row {
    min-height: 362px;
    background-image: url('../img/footer-generic-bkg@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .call-us {
    padding-top: 76px;

    p {
      font: 20px/22px $maven;
      letter-spacing: ls(25, 20px);
      margin-bottom: 6px;

      &.tel {
        font: 45px/50px $cormorant;
        font-weight: 500;
        font-style: italic;
        letter-spacing: ls(25, 45px);
        color: $color-2;
        margin-bottom: 28px;
      }
    }
  }

  .social-media {
    padding-bottom: 40px;

    p {
      font: 18px/21px $maven;
      margin-bottom: 10px;
    }

    .social-media-btn {
      $size: 36px;
      width: $size;
      height: $size;
      display: inline-block;
      margin: 0 15px;
      font-size: 20px;
      color: $color-white;
      border: 2px solid $color-white;
      border-radius: 100%;
      position: relative;

      i { @extend %absolute-center; }
    }
  }

  .disclaimer {
    padding: 36px 0px 4px;
    background: #252525;

    p {
      font: 9px/11.5px $maven;
      letter-spacing: ls(100, 9px);
      color: $color-10;

      a {
        color: $color-10;
        text-decoration: none;
      }
    }
  }

  .contact-form {
    background: none;
    padding: 18px 0px 20px;

    h6 {
      font: 25px/25px $maven;
      letter-spacing: ls(25, 25px);
      text-transform: uppercase;
      margin-bottom: 36px;

      span {
        display: block;
        font: 33px/22px $cormorant;
        font-style: italic;
        font-weight: 300;
        letter-spacing: ls(25, 33px);
        text-transform: none;
      }
    }

    label {
      font-size: 8px;
      margin-top: 30px;
      margin-bottom: 2px;
    }

    .form-control {
      font-size: 8px;
    }

    textarea {
      height: 20px;
      margin-top: 20px;
    }

    .btn {
      height: 64px;
      margin: 15px 0px 0px;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      background: $color-13;
      border: none;
    }

    .list-inline {
      font-size: 12px;
      font-family: $maven;

       p {
         margin: 0px;
       }
    }
  }



}

%small-line {
  content: '';
  width: 30px;
  height: 3px;
  background: $color-2;
  position: absolute;
  top: 0px;
  left: 50%;
  @include transform(translate(-50%, 0));
}

.appear-on-scroll {
  opacity: 0;
  @include transition(all .6s);
  @include transform(translateY(70px));
  will-change: opacity, transform;

  &.show {
    opacity: 1;
    @include transform(translateY(0px));
  }
}

@media screen and (max-width: 768px) {

  .page {
    .main-side-nav-opened & {
      right: $sidenav-width-mobile;
    }
  }

  .header {
    .hamburguer-button {
      margin-right: 10px;
    }
  }

  .footer {
    &.home-footer {
      padding: 40px 15px 10px;
      background-image: url('../img/footer-bkg@2x.jpg');
      background-color: #303030;
      background-position: center;
    }

    .footer-first-row {
      background: #000;
    }

    .footer-bkg-mobile {
      background: url('../img/footer-bkg@2x.jpg') center no-repeat #303030;
      background-size: cover;
    }

    .disclaimer {
      padding: 20px 0px 10px;
    }
  }





}


@-webkit-keyframes rotate {
  0%  { @include transform(translate(-50%, -50%) rotate(0)); transform-origin: center center;}
  25% { @include transform(translate(-50%, -50%) rotate(720deg)); transform-origin: center center;}
  100%{ @include transform(translate(-50%, -50%) rotate(720deg)); transform-origin: center center;}
}

@keyframes rotate {
  0%  { @include transform(translate(-50%, -50%) rotate(0)); transform-origin: center center;}
  25% { @include transform(translate(-50%, -50%) rotate(720deg)); transform-origin: center center;}
  100%{ @include transform(translate(-50%, -50%) rotate(720deg)); transform-origin: center center;}
}

@-webkit-keyframes appear-from-top {
  0%  { @include transform(translate(0%, 0%)); }
  25% { @include transform(translate(0%, 0%)); }
  50% { @include transform(translate(0%, 0%)); }
  75% { @include transform(translate(0%, 50px)); }
  100%{ @include transform(translate(0%, 0%)); }
}

@keyframes appear-from-top {
  0%  { @include transform(translate(0%, 0%)); }
  25% { @include transform(translate(0%, 0%)); }
  50% { @include transform(translate(0%, 0%)); }
  75% { @include transform(translate(0%, 50px)); }
  100%{ @include transform(translate(0%, 0%)); }
}
