.main-side-nav {
  width: $sidenav-width-desktop;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -100px;
  z-index: 2;
  background: $color-5;
  @include transition(all .4s);

  ul {
    list-style: none;
    padding: 0px;

    li {
      a {
        font: 15px/18px $maven;
        color: $color-2;
        padding: 11px 7.692307692307692%;
        margin: 12px 0px;
        display: block;
        text-decoration: none;
        position: relative;
        @include transition(all .2s);

        &:hover {
          background: $color-1;
        }

        &.active {
          &:before {
            content: '';
            width: 0px;
            height: 0px;
            display: block;
            border-left: 5px solid $color-1;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-right: none;
            position: absolute;
            left: 5px;
            top: 50%;
            @include transform(translate(0, -50%));
          }
          &:hover {
            &:before {
              border-left-color: $color-2;
            }
          }
        }
      }
    }
  }

  .main-side-nav-opened & {
    right: 0px;
    background: #ebedec;
  }
}
