.parallax {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  * {
    z-index: 1;
    position: relative;
  }

  .bkg {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: -50%;
    left: 50%;
    z-index: 0;
    opacity: 0;
    transition: opacity .2s;
  }

  &.loaded {
    .bkg {
      opacity: 1;
    }
  }
}
