.parallax {
  width: 100%;
  min-height: 500px;
  // background-size: cover;
  // background-position: top center;
  // background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  * {
    z-index: 1;
    position: relative;
  }

  .bkg {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
    opacity: 0;
    @include transition(opacity .2s);
    @include transform(translate(-50%, -50%));
    will-change: opacity, transform;
  }

  &.loaded {
    .bkg {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .parallax {
    .bkg {
      width: auto;
      height: 100%;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
}
