.testimonials {
  padding-top: 78px;
  padding-bottom: 54px;
  background: $color-white;

  h2 {
    font-size: 24px;
    font-family: $maven;
    letter-spacing: ls(25, 24px);
    text-align: center;
    color: $color-12;
    position: relative;

    &:before {
      content: '';
      width: 30px;
      height: 3px;
      background: $color-2;
      position: absolute;
      left: 50%;
      top: -23px;
      @include transform(translate(-50%, 0));
    }
  }
}

.testimony-carousel {
  overflow: visible;

  &.flickity-enabled {
    .carousel-cell { display: block; }
  }
  .carousel-cell {
    display: none;
    padding: 16px 48.75px;
    @include transition(opacity .3s);

    &.is-selected {
      opacity: 1;
    }

    .avatar {
      width: 67px;
      height: 67px;
      border-radius: 50%;
    }

    p {
      font: 15px/18px $cormorant;
      letter-spacing: ls(25, 15px);
      color: $color-3;
      margin-bottom: 0px;

      &.author {
        color: $color-2;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .testimonials {
    padding: 20px 10px;
  }
  .testimony-carousel {
    padding: 40px 0px 0px;
    
    .carousel-cell {
      padding: 10px 15px;
    }
  }
}
