// Colors
$color-1: #9c7038;
$color-2: #ce9525;
$color-3: #45454d;
$color-4: #5d502c;
$color-5: #eaedec;
$color-6: #205841;
$color-7: #e1b679;
$color-8: #f3f3f3;
$color-9: #303030;
$color-10: #6c6767;
$color-11: #101501;
$color-12: #c6c6c5;

$color-white: #fff;
$color-white-transparent: rgba(248,248,248,.2);
$color-2-transparent: rgba(206,149,37,.5);

// Fonts
$cormorant: 'Cormorant Infant', serif;
$maven: 'Maven Pro', sans-serif;

$sidenav-width-desktop: 17.105263157894737%;
