/* MIXINS AND FUNCTIONS */
body {
  overflow-x: hidden;
  background: #ebedec;
  font-family: "Cormorant Infant", serif; }

.page {
  position: relative;
  background: #ebedec;
  right: 0px;
  z-index: 2;
  transition: all .4s; }
  .main-side-nav-opened .page {
    right: 17.10526%; }

.btn {
  min-width: 180px;
  font: 18px/42px "Maven Pro", sans-serif;
  letter-spacing: 0.9px;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0px 12px; }
  .btn.btn-default, .btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default:hover {
    color: #fff;
    background: #ce9525; }
  .btn.btn-primary, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
    color: #fff;
    background: #9c7038; }

.header {
  width: 100%;
  padding: 16px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  overflow: hidden; }
  .header .hamburguer-button {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    background: #9c7038;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#9c7038, #e2b67a);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9c7038, #e2b67a);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9c7038, #e2b67a);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9c7038, #e2b67a);
    /* Standard syntax */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .header .hamburguer-button .close-btn {
      font-size: 24px;
      color: #9c7038;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -moz-transform: translate(-50%, -50%) scale(0);
      -o-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      -webkit-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0); }
    .header .hamburguer-button .hamburguer-group {
      width: 18px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      will-change: transform;
      animation: rotate 4s infinite; }
    .header .hamburguer-button .hamburguer-item {
      width: 18px;
      height: 3px;
      background: #fff;
      border-radius: 10px;
      display: block;
      position: absolute;
      left: 0px;
      will-change: top, transform; }
      .header .hamburguer-button .hamburguer-item:nth-child(1) {
        top: 0px; }
      .header .hamburguer-button .hamburguer-item:nth-child(2) {
        top: 6px; }
      .header .hamburguer-button .hamburguer-item:nth-child(3) {
        top: 12px; }
    .main-side-nav-opened .header .hamburguer-button {
      background: transparent;
      border: 1px solid #9c7038; }
      .main-side-nav-opened .header .hamburguer-button .hamburguer-group {
        opacity: 0; }
      .main-side-nav-opened .header .hamburguer-button .close-btn {
        -moz-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1); }

.ceremony:before, .ceremony .intro:before {
  content: '';
  width: 30px;
  height: 3px;
  background: #ce9525;
  position: absolute;
  top: 0px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

@-webkit-keyframes rotate {
  0% {
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  25% {
    -moz-transform: translate(-50%, -50%) rotate(720deg);
    -o-transform: translate(-50%, -50%) rotate(720deg);
    -ms-transform: translate(-50%, -50%) rotate(720deg);
    -webkit-transform: translate(-50%, -50%) rotate(720deg);
    transform: translate(-50%, -50%) rotate(720deg); }
  100% {
    -moz-transform: translate(-50%, -50%) rotate(720deg);
    -o-transform: translate(-50%, -50%) rotate(720deg);
    -ms-transform: translate(-50%, -50%) rotate(720deg);
    -webkit-transform: translate(-50%, -50%) rotate(720deg);
    transform: translate(-50%, -50%) rotate(720deg); } }

@keyframes rotate {
  0% {
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  25% {
    -moz-transform: translate(-50%, -50%) rotate(720deg);
    -o-transform: translate(-50%, -50%) rotate(720deg);
    -ms-transform: translate(-50%, -50%) rotate(720deg);
    -webkit-transform: translate(-50%, -50%) rotate(720deg);
    transform: translate(-50%, -50%) rotate(720deg); }
  100% {
    -moz-transform: translate(-50%, -50%) rotate(720deg);
    -o-transform: translate(-50%, -50%) rotate(720deg);
    -ms-transform: translate(-50%, -50%) rotate(720deg);
    -webkit-transform: translate(-50%, -50%) rotate(720deg);
    transform: translate(-50%, -50%) rotate(720deg); } }

@-webkit-keyframes appear-from-top {
  0% {
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }
  25% {
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }
  50% {
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }
  75% {
    -moz-transform: translate(0%, 50px);
    -o-transform: translate(0%, 50px);
    -ms-transform: translate(0%, 50px);
    -webkit-transform: translate(0%, 50px);
    transform: translate(0%, 50px); }
  100% {
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

@keyframes appear-from-top {
  0% {
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }
  25% {
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }
  50% {
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }
  75% {
    -moz-transform: translate(0%, 50px);
    -o-transform: translate(0%, 50px);
    -ms-transform: translate(0%, 50px);
    -webkit-transform: translate(0%, 50px);
    transform: translate(0%, 50px); }
  100% {
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

.main-side-nav {
  width: 17.10526%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -100px;
  z-index: 2;
  background: #eaedec;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .main-side-nav ul {
    list-style: none;
    padding: 0px; }
    .main-side-nav ul li a {
      font: 15px/18px "Maven Pro", sans-serif;
      color: #ce9525;
      padding: 11px 7.692307692307692%;
      margin: 12px 0px;
      display: block;
      text-decoration: none;
      position: relative;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .main-side-nav ul li a:hover {
        background: #9c7038; }
      .main-side-nav ul li a.active:before {
        content: '';
        width: 0px;
        height: 0px;
        display: block;
        border-left: 5px solid #9c7038;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-right: none;
        position: absolute;
        left: 5px;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .main-side-nav ul li a.active:hover:before {
        border-left-color: #ce9525; }
  .main-side-nav-opened .main-side-nav {
    right: 0px;
    background: #ebedec; }

.carousel {
  width: 100%;
  overflow: hidden; }
  .carousel .anchor {
    width: 50px;
    height: 50px;
    background: #9c7038;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1; }
  .carousel.main-carousel .carousel-cell {
    width: 100%; }
    .carousel.main-carousel .carousel-cell img {
      width: 100%; }
  .carousel .content {
    width: 100%;
    padding: 20px 20px 70px;
    text-align: center;
    position: absolute; }
    .carousel .content.y-bottom {
      bottom: 0px; }
    .carousel .content h3 {
      font: 36px/40px "Cormorant Infant", serif;
      font-weight: 600;
      letter-spacing: 0.9px;
      color: #9c7038; }

@media screen and (max-width: 768px) {
  .carousel.main-carousel .content h3 {
    font: 20px/22px "Cormorant Infant", serif; } }

.parallax {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative; }
  .parallax * {
    z-index: 1;
    position: relative; }
  .parallax .bkg {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: -50%;
    left: 50%;
    z-index: 0;
    opacity: 0;
    transition: opacity .2s; }
  .parallax.loaded .bkg {
    opacity: 1; }

.crew {
  min-height: 650px;
  text-align: center;
  padding: 50px 20px;
  background: #9c7038; }
  .crew h2 {
    margin-bottom: 22px;
    font: 50px/60px "Cormorant Infant", serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.25px;
    color: #fff;
    position: relative; }
    .crew h2:before {
      content: '';
      width: 198px;
      height: 187px;
      display: block;
      position: absolute;
      top: -35px;
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      background: url(images/_/_/img/crew-title-bkg@2x.gif) center no-repeat;
      background-size: contain;
      opacity: .3; }
  .crew .intro {
    margin-bottom: 45px;
    font: 22.5px/26px "Cormorant Infant", serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.5625px;
    color: #fff; }

.thumbnail-crew .thumbnail-item {
  height: 360px;
  padding: 20px 20px;
  background: #ebedec;
  text-align: center;
  overflow: hidden; }
  .thumbnail-crew .thumbnail-item .avatar {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    will-change: width, height; }
  .thumbnail-crew .thumbnail-item h3 {
    font: 27.5px/27px "Cormorant Infant", serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #101501;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    will-change: font-size; }
  .thumbnail-crew .thumbnail-item h4 {
    font: 18.5px/18px "Maven Pro", sans-serif;
    text-transform: uppercase;
    color: #101501;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    will-change: font-size; }
  .thumbnail-crew .thumbnail-item p {
    font: 15px/16px "Cormorant Infant", serif;
    text-align: justify;
    letter-spacing: 0.0375px;
    color: #45454d;
    position: relative;
    opacity: 0;
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    will-change: opacity, top, transform; }
  .thumbnail-crew .thumbnail-item .author {
    color: #ce9525;
    text-align: right; }
  .thumbnail-crew .thumbnail-item .btn-more {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
    background: #c2a102;
    color: #fff;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .thumbnail-crew .thumbnail-item .btn-more:before {
      content: '+';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .thumbnail-crew .thumbnail-item.opened .avatar {
    width: 63px;
    height: 63px; }
  .thumbnail-crew .thumbnail-item.opened h3 {
    font: 21px/24px "Cormorant Infant", serif; }
  .thumbnail-crew .thumbnail-item.opened h4 {
    font: 12px/12px "Maven Pro", sans-serif; }
  .thumbnail-crew .thumbnail-item.opened p {
    opacity: 1;
    top: 0px;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  .thumbnail-crew .thumbnail-item.opened .btn-more {
    width: 20px;
    height: 20px; }
    .thumbnail-crew .thumbnail-item.opened .btn-more:before {
      content: '-'; }

.testimonials {
  padding-top: 78px;
  padding-bottom: 54px;
  background: #fff; }
  .testimonials h2 {
    font-size: 24px;
    font-family: "Maven Pro", sans-serif;
    letter-spacing: 0.6px;
    text-align: center;
    color: #c6c6c5;
    position: relative; }
    .testimonials h2:before {
      content: '';
      width: 30px;
      height: 3px;
      background: #ce9525;
      position: absolute;
      left: 50%;
      top: -23px;
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

.testimony-carousel {
  overflow: visible; }
  .testimony-carousel.flickity-enabled .carousel-cell {
    display: block; }
  .testimony-carousel .carousel-cell {
    display: none;
    padding: 16px 48.75px;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .testimony-carousel .carousel-cell.is-selected {
      opacity: 1; }
    .testimony-carousel .carousel-cell .avatar {
      width: 67px;
      height: 67px;
      border-radius: 50%; }
    .testimony-carousel .carousel-cell p {
      font: 15px/18px "Cormorant Infant", serif;
      letter-spacing: 0.375px;
      color: #45454d;
      margin-bottom: 0px; }
      .testimony-carousel .carousel-cell p.author {
        color: #ce9525; }
  .testimony-carousel .flickity-prev-next-button {
    width: 34px;
    height: 34px;
    border-radius: 0;
    position: absolute;
    left: 100%;
    top: -32px;
    background-color: #ce9525;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .testimony-carousel .flickity-prev-next-button:before {
      content: '<';
      font: 17px/34px "Maven Pro", sans-serif;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .testimony-carousel .flickity-prev-next-button:disabled {
      opacity: 1;
      background-color: #eaedec; }
      .testimony-carousel .flickity-prev-next-button:disabled:before {
        color: #45454d; }
    .testimony-carousel .flickity-prev-next-button.next {
      margin-left: 34px; }
      .testimony-carousel .flickity-prev-next-button.next:before {
        content: '>'; }
    .testimony-carousel .flickity-prev-next-button svg {
      display: none; }

@media screen and (max-width: 768px) {
  .testimonials {
    padding: 20px 10px; }
  .testimony-carousel {
    padding: 40px 0px 0px; }
    .testimony-carousel .flickity-prev-next-button {
      left: auto;
      right: 0px;
      top: 20px; }
      .testimony-carousel .flickity-prev-next-button.previous {
        margin-right: 34px; }
      .testimony-carousel .flickity-prev-next-button.next {
        margin-left: 0px; }
    .testimony-carousel .carousel-cell {
      padding: 10px 15px; } }

.services h2 {
  margin-bottom: 22px;
  font: 50px/60px "Cormorant Infant", serif;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.25px;
  color: #9c7038;
  position: relative; }
  .services h2:before {
    content: '';
    width: 198px;
    height: 187px;
    display: block;
    position: absolute;
    top: -35px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: url(images/_/_/img/crew-title-bkg@2x.gif) center no-repeat;
    background-size: contain;
    opacity: .3; }

.services .intro {
  margin-bottom: 45px;
  font: 22.5px/26px "Cormorant Infant", serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.5625px;
  color: #9c7038; }

.services .item {
  padding: 36px 0px;
  color: #5d502c; }
  .services .item h4 {
    margin: 74px 0px 5px;
    font: 23px/26px "Cormorant Infant", serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1.15px;
    position: relative; }
    .services .item h4:before {
      content: '';
      width: 16px;
      height: 2px;
      display: block;
      background: #ce9525;
      position: absolute;
      top: -11px;
      left: 0px; }
  .services .item p {
    font: 15px/18px "Maven Pro", sans-serif;
    text-align: justify; }

@media screen and (max-width: 767px) {
  .services {
    padding: 20px 20px; }
    .services .item {
      padding: 20px 0px; }
      .services .item h4 {
        margin: 10px 0px 5px; } }

.ceremony {
  padding: 100px 0px 110px;
  color: #fff;
  background: #bd7124;
  text-align: center;
  position: relative; }
  .ceremony:before {
    top: 72px;
    background: #fff;
    z-index: 1; }
  .ceremony h2 {
    font: 50px/50px "Cormorant Infant", serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.25px;
    position: relative;
    margin-top: 56px;
    margin-bottom: -1px; }
  .ceremony h3 {
    font: 24px/24px "Maven Pro", sans-serif;
    letter-spacing: 0.6px;
    margin-top: 0px;
    margin-bottom: 134px; }
  .ceremony .intro {
    width: 100%;
    padding: 50px 0px 55px;
    position: relative;
    background: rgba(248, 248, 248, 0.2); }
    .ceremony .intro:before {
      top: 30px; }
    .ceremony .intro p {
      font: 18px/22px "Maven Pro", sans-serif;
      letter-spacing: 0.45px; }
    .ceremony .intro .link {
      width: 84px;
      height: 84px;
      display: block;
      text-decoration: none;
      border: 1px solid #9c7038;
      background: #e3b67a;
      border-radius: 100%;
      box-shadow: 0px 4.5px 3.5px rgba(177, 99, 31, 0.75), 0px 6px 10px rgba(128, 62, 18, 0.33) inset;
      position: absolute;
      top: 100%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .ceremony .intro .link .link-text {
        font: 18px/15px "Maven Pro", sans-serif;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

.events {
  background: #eaedec; }
  .events h2 {
    font: 50px/50px "Cormorant Infant", serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.25px;
    color: #9c7038;
    position: relative;
    text-align: center; }
  .events .intro {
    font: 18px/22px "Maven Pro", sans-serif;
    letter-spacing: 0.45px;
    color: #205841;
    text-align: center; }

.events-pictures {
  width: 100%;
  display: table;
  padding: 7.5px 7.5px; }
  .events-pictures .item {
    padding: 7.5px 7.5px;
    margin: 0px;
    list-style: none; }
    .events-pictures .item .pic {
      width: 50%;
      height: 0px;
      padding-top: 50%;
      margin: 0px;
      float: left;
      position: relative;
      overflow: hidden; }
      .events-pictures .item .pic img {
        min-width: calc(100% + 2px);
        min-height: calc(100% + 2px);
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%) scale(1.3);
        -o-transform: translate(-50%, -50%) scale(1.3);
        -ms-transform: translate(-50%, -50%) scale(1.3);
        -webkit-transform: translate(-50%, -50%) scale(1.3);
        transform: translate(-50%, -50%) scale(1.3);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        opacity: 0;
        z-index: 0; }
        .events-pictures .item .pic img.active {
          opacity: 1;
          z-index: 1; }
        .events-pictures .item .pic img:hover {
          -moz-transform: translate(-50%, -50%) scale(1);
          -o-transform: translate(-50%, -50%) scale(1);
          -ms-transform: translate(-50%, -50%) scale(1);
          -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1); }
